body {
    font-family: Georgia, serif;
}

#htitle {
    width: 500px;
    float: left;
    line-height: 35px;
}

#menu {
    font-family: 'Station', sans-serif;
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase;
    width: 200px;
    float: left;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-type: none;
    padding: 0 0 3px 0;
    text-align: center;
}

#menu li a{
    text-decoration: none;
}

#content {
    padding-top: 20px;
}

#ctext, #footer {
    width: 580px;
    float: left;
    margin-left: 8px;
}

#ctext h4:first-of-type {
    margin-top: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Station', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img#logo {
    vertical-align: text-top;
    padding-right: 8px;
    float: left;
}

#pageadmin {
    font-variant: small-caps;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#footer {
    margin-top: 20px;
    font-variant: small-caps;
    margin-left: 206px; 
}

.clear {
    clear: both;
}
