<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/station" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.3/textAngular.min.css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="main">
  <h1 id="header"><a href="/"><img src="/static/logo.jpg" id="logo" /></a><div id="htitle">Science <br />and <br/>Philosophy <br />Seminar</div></h1>
  <div class="clear"></div>
