%include("sciphi/header.tpl")
<div id="content">
  <div id="menu">
  <ul>
  %for item in pages:
    <li><a href="/p/{{item[0]}}">{{item[0]}}</a></li>
  %end
  </ul>
  </div>
  <div id="ctext">
    {{!page[1]}}
  </div>
</div>
%include("sciphi/footer.tpl")
